.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-size: large;
}

textarea {
  font-family: 'Consolas', monospace;
}